.container {  
  max-width: 1200px; 
  min-width: 650px;  
  margin: 0 auto; 
  padding: 50px;
}

.chart { 
  display: grid;  
  border: 2px solid #000;  
  position: relative;  
  overflow: hidden; 
}